<div class="container" style="background-color: #51d69e !important;">
  <div class="p-1 text-center">
    <h3>TANGEDCO</h3>
    <p>FLY ASH FLEET MANAGEMENT</p>
  </div>
</div>
<div class="container" style="font-size: 12px;margin-top: 20px">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-12 shadow-lg p-1 mb-1 mt-1 bg-white rounded text-center">
        <button class="btn btn-lg btn-outline-success" (click)="bookingDetails()">Booking Details</button>
        <button class="btn btn-lg btn-outline-success" (click)="open(loginModal)">New Pickup</button>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Customer Details</h5>
            </div>
            <div class="col-4">
              <div class="md-1 p-1">Name of Company</div>
              <div class="md-1 p-1">Company Address </div> <br>
              <div class="md-1 p-1">GST NUmber </div>
              <div class="md-1 p-1">Contact NUmber </div><br>
              <div class="md-1 p-1">Email Id </div>
            </div>
            <div class="col-8">
              <div class="md-1 p-1"> kingsly Free  </div>
              <div class="md-1 p-1" style="white-space: normal;"> aaaaaa,bbbb,vvvvv,xx</div> <br>
              <div class="md-1 p-1" style="margin-top: 24px !important"> 6754576788999 </div>
              <div class="md-1 p-1"> 6789654324 </div>
              <div class="md-1 p-1" style="margin-top: 14px !important"> abc@gmail.com </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Previous Booking Details</h5>
            </div>
            <form  #heroForm="ngForm">
              <div class="form-group inline">
                <input type="text" class="form-control" id="name" required placeholder="Booking number"
                  [(ngModel)]="model.name" name="name" #name="ngModel">

                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  Booking number is required
                </div>
              </div>
              <button type="submit" class="btn btn-success" (click)="getInvoice(model.name)" >Invoice Download</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h5>Monthly Reports as per lifted Qty</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="col-xs-12 col-12 col-md-12 form-group">
                    <input [(ngModel)]="monthReport" autocomplete="off" class="form-control" name="date" bsDatepicker
                      placeholder="select month to report" [bsConfig]="{dateInputFormat: 'MM/YYYY'}"
                      (onShown)="onOpenCalendar($event)">
                  </div>
                  <div class="col-md-12">
                    <button class="btn btn-lg btn-outline-success" (click)="getReportPaid(monthReport)" >Get Report</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Booking Fly Ash</h5>
  </div>
<div class="modal-body">
  <form (ngSubmit)="onBooking()" #bookingForm="ngForm">
    <div class="form-group inline">
      <input type="text" [(ngModel)]="bookingModel.bookingDate" placeholder="Booking date" name="bookingDate" #bookingDate="ngModel" class="form-control" bsDatepicker>
    </div>
    <div class="row"> 
    <div class="col-md-6 form-group inline"> 
      <label for="bookingTimeFrom">Time Slot From</label>
       <timepicker [(ngModel)]="bookingModel.bookingTimeFrom"  id="bookingTimeFrom"  name="bookingTimeFrom" #bookingTimeFrom="ngModel"> </timepicker>
    </div>
    <div class="col-md-6 form-group inline"> 
      <label for="bookingTimeTo">Time Slot To</label>
       <timepicker [(ngModel)]="bookingModel.bookingTimeTo"  id="bookingTimeTo"  name="bookingTimeTo" #bookingTimeTo="ngModel"> </timepicker>
    </div>
  </div>
    <div class="form-group inline">
      <input type="text" placeholder="Quantity" class="form-control" [(ngModel)]="bookingModel.qty"  id="qty"  name="qty" #qty="ngModel">
    </div>
    <div class="form-group inline">
      <p>Available Quantioty:  {{availQty}} T</p> 
      </div>
    <button type="submit" class="btn btn-success" [disabled]="!bookingForm.form.valid">Book</button>
    <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
  </form>
</div>
</ng-template>