<div class="container" style="background-color: #51d69e !important;">
  <div class="p-1 text-center">
    <h3>TANGEDCO</h3>
    <p>FLY ASH FLEET MANAGEMENT</p>
  </div>
</div>
<div class="container" style="font-size: 12px;margin-top: 20px">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Free Customer Details</h5>
            </div>
            <div class="col-4">
              <div class="md-1 p-1">Name of Company</div>
              <div class="md-1 p-1">Company Address </div>
              <div class="md-1 p-1">GST NUmber </div>
              <div class="md-1 p-1">Contact NUmber </div>
              <div class="md-1 p-1">Email Id </div>
            </div>
            <div class="col-8">
              <div class="md-1 p-1">Kingsly</div>
              <div class="md-1 p-1" style="white-space: normal;"> xxx,xxxyyyy,zzzzzxxxxyyyy,tyyyy,3456778877</div>
              <div class="md-1 p-1">67688787787868686868 </div>
              <div class="md-1 p-1">+91 7897778907 </div>
              <div class="md-1 p-1">
                mranjith2016@gmail.com </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Paid Customer Details</h5>
            </div>
            <div class="col-4">
              <div class="md-1 p-1">Name of Company</div>
              <div class="md-1 p-1">Company Address </div>
              <div class="md-1 p-1">GST NUmber </div>
              <div class="md-1 p-1">Contact NUmber </div>
              <div class="md-1 p-1">Email Id </div>
            </div>
            <div class="col-8">
              <div class="md-1 p-1">Kingsly</div>
              <div class="md-1 p-1" style="white-space: normal;"> xxx,xxxyyyy,zzzzzxxxxyyyy,tyyyy,3456778877</div>
              <div class="md-1 p-1">67688787787868686868 </div>
              <div class="md-1 p-1">+91 7897778907 </div>
              <div class="md-1 p-1">
                mranjith2016@gmail.com </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <h4> Company name </h4>

              <p>Kingsly </p>

            </div>
            <div class="col-md-3">
              <h4> Date & Time </h4> 
              <p>2020/09/15 10:14:00 PM</p>
            </div>
            <div class="col-md-2">
              <h4> Qty(Ton)</h4>
              <p>120</p>
            </div>
            <div class="col-md-4">
              <h4> Actions </h4>
              <div class="row">
              <div class="col-md-6">
                <button class="btn btn-lg btn-outline-success"> CONFIRM </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-lg btn-outline-warning"> REJECT </button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
