<div class="container" style="background-color: #51d69e !important;">
  <div class="p-1 text-center">
    <h3>TANGEDCO</h3>
    <p>FLY ASH FLEET MANAGEMENT</p>
  </div>
</div>
<div class="container" style="font-size: 12px;margin-top: 20px">
  <div class="row">
    <h5>Availability</h5>
    <div class="col-md-12"> 

      <div class="col-xs-12 col-12 col-md-12 form-group">
        <input [(ngModel)]="avail.plant" autocomplete="off" class="form-control" name="plant" 
          placeholder="Plants "  #plant="ngModel">
      </div>

      <div class="col-xs-12 col-12 col-md-12 form-group">
        <input [(ngModel)]="avail.qty" autocomplete="off" class="form-control" name="qty" 
          placeholder="Avaiabe ashquantity" #qty="ngModel">
      </div>

      <div class="col-md-12">
          <button class="btn btn-outline-success" (click)="addAvail()" type="submit">Add</button>
      </div>

      <h5> Availability table</h5>
      <table class="table table-striped"> 
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Plant</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let availDatas of availdata; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{availDatas.plant}} </td>
            <td> {{availDatas.qty}} </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Free Customer Details</h5>
            </div>
            <div class="col-4">
              <div class="md-1 p-1">Name of Company</div>
              <div class="md-1 p-1">Company Address </div>
              <div class="md-1 p-1">GST NUmber </div>
              <div class="md-1 p-1">Contact NUmber </div>
              <div class="md-1 p-1">Email Id </div>
            </div>
            <div class="col-8">
              <div class="md-1 p-1">Kingsly</div>
              <div class="md-1 p-1" style="white-space: normal;"> xxx,xxxyyyy,zzzzzxxxxyyyy,tyyyy,3456778877</div>
              <div class="md-1 p-1">67688787787868686868 </div>
              <div class="md-1 p-1">+91 7897778907 </div>
              <div class="md-1 p-1">
                mranjith2016@gmail.com </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Paid Customer Details</h5>
            </div>
            <div class="col-4">
              <div class="md-1 p-1">Name of Company</div>
              <div class="md-1 p-1">Company Address </div>
              <div class="md-1 p-1">GST NUmber </div>
              <div class="md-1 p-1">Contact NUmber </div>
              <div class="md-1 p-1">Email Id </div>
            </div>
            <div class="col-8">
              <div class="md-1 p-1">Kingsly</div>
              <div class="md-1 p-1" style="white-space: normal;"> xxx,xxxyyyy,zzzzzxxxxyyyy,tyyyy,3456778877</div>
              <div class="md-1 p-1">67688787787868686868 </div>
              <div class="md-1 p-1">+91 7897778907 </div>
              <div class="md-1 p-1">
                mranjith2016@gmail.com </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped">  
        <thead>
          <tr> 
            <th scope="col">#</th>
            <th scope="col">Booking Id</th>
            <th scope="col">Booking Date</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookingData; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{booking.bookingId}} </td>
            <td> {{booking.bookingDate}} </td>
            <td> {{booking.qty}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
